<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="breadcrumbs" th:fragment="breadcrumbsFragment(parent, currentPage)">
    <li class="breadcrumbs-item">
        <a th:href="${(#mvc.url('MPC#getMainPage').build())}" th:text="#{topbar.main}">
        </a>
    </li>
    <li class="breadcrumbs-item">
        <a th:href="${(#mvc.url(parent).build())}" th:switch="${parent}">
            <p th:case="${'GC#getGenresPage'}" th:text="#{topbar.genres}"></p>
            <p th:case="${'AC#getAuthorsPage'}" th:text="#{topbar.authors}"></p>
        </a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current" th:text="#{${currentPage}}">
    </li>
</ul>
</body>
</html>